
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<section class="container py-5 text-light">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="mb-4">Bienvenido a Pancanni</h2>
        <hr class="my-4">
        <div class="row mb-4">
          <div class="col-md-3">
            <i class="fas fa-cocktail fa-5x text-primary"></i> <!-- Ícono de cóctel -->
          </div>
          <div class="col-md-9">
            <p class="text-lg-start">Pancanni es más que una tienda online de tragos de autor; es el resultado de la pasión por la mixología y el compromiso con la calidad. Fundada por un equipo de expertos en bebidas, nuestra misión es ofrecer una experiencia única donde los amantes del buen beber puedan descubrir y disfrutar de una cuidada selección de cócteles artesanales y clásicos.</p>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-md-3">
            <i class="fas fa-heart fa-5x text-danger"></i> <!-- Ícono de corazón -->
          </div>
          <div class="col-md-9">
            <p class="text-lg-start">Nuestros productos están seleccionados cuidadosamente para garantizar que cada trago ofrezca una experiencia excepcional, desde la primera degustación hasta el último sorbo. Creemos en la autenticidad de los ingredientes y en la creatividad de la mezcla, creando así un catálogo diverso que satisface todos los gustos y ocasiones.</p>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-md-3">
            <i class="fas fa-handshake fa-5x text-success"></i> <!-- Ícono de apretón de manos -->
          </div>
          <div class="col-md-9">
            <p class="text-lg-start">Además de ofrecer productos de alta calidad, en Pancanni nos preocupamos por el servicio al cliente. Nos esforzamos por brindar una experiencia de compra fácil y segura, asegurando que cada cliente encuentre exactamente lo que busca y reciba su pedido en perfectas condiciones y en el menor tiempo posible.</p>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-md-3">
            <i class="fas fa-glass-cheers fa-5x text-warning"></i> <!-- Ícono de brindis -->
          </div>
          <div class="col-md-9">
            <p class="text-lg-start">Únete a nosotros en este viaje de descubrimiento y disfrute de los mejores tragos, llevando la experiencia de un bar exclusivo directamente a tu hogar. Bienvenido a Pancanni, donde cada trago es una celebración.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  